[user]
    name = Ryan Reid
    email = grakaja@gmail.com

[core]
    editor = nano
    autocrlf = input
    pager = less -FRX
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[fetch]
    prune = true            # auto-remove deleted remote branches

[diff]
    colorMoved = zebra

[merge]
    conflictstyle = diff3

[rerere]
    enabled = true          # remember resolved conflicts

[color]
    ui = auto

[color "branch"]
    current = yellow bold
    local = yellow
    remote = green

[color "diff"]
    meta    = yellow bold
    frag    = magenta bold
    old     = red bold
    new     = green bold

[color "status"]
    added     = green
    changed   = yellow
    untracked = cyan

[alias]
    st      = status -sb
    co      = checkout
    br      = branch
    lg      = log --oneline --graph --decorate -20
    lga     = log --oneline --graph --decorate --all
    last    = log -1 HEAD --stat
    undo    = reset HEAD~1 --mixed
    unstage = reset HEAD --
    aliases = config --get-regexp alias
    whoami  = config user.email
